#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  width: 158px;
  height: 55px;
  border: 1px solid rgb(168, 15, 15);
  border-radius: 5px;
  background-color: rgb(202, 191, 36);
  color: black;
  font-size: small;
  text-align: center;
  transition: all .78s ease;
}

button:hover {
  font-size: large;
  cursor: pointer;
}